@import '../../assets/sass/variable.scss';
h2.title {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 49px;
    position: relative;
    background-color: #f5f5f5;
    a {
        text-decoration: none;
        background-color: $second-color;
        min-width: 205px;
        padding: 0 15px;
        margin: 0;
        position: relative;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        display: inline-block;
        &::before {
            border-bottom: 27px solid transparent;
            border-right: 10px solid #f5f5f5;
            border-top: 0 solid transparent;
            border-left: 0;
            content: '';
            position: absolute;
            right: 0;
            top: 0;
        }
        &::after {
            border-bottom: 0 solid transparent;
            border-right: 10px solid #f5f5f5;
            border-top: 27px solid transparent;
            bottom: 0;
            content: '';
            position: absolute;
            right: 0;
        }
        &:hover {
            color: $second-font-color;
        }
    }
    &.title-grey {
        background-color: #f5f5f5;
        a::before {
            border-right: 10px solid #f5f5f5;
        }
        a::after {
            border-right: 10px solid #f5f5f5;
        }
    }
    &.title-white {
        background-color: #fff;
        a::before {
            border-right: 10px solid #fff;
        }
        a::after {
            border-right: 10px solid #fff;
        }
    }
}
