/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import './variable.scss';
@import 'https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=vietnamese';
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  
  /* HTML5 display-role reset for older browsers */
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  
  body {
    line-height: 1; font-family: 'Quicksand', sans-serif; font-weight: 500; font-size: 14px;}
  
  ol, ul {
    list-style: none; }
  
  blockquote, q {
    quotes: none; }
  
  blockquote {
    &:before, &:after {
      content: '';
      content: none; } }
  
  q {
    &:before, &:after {
      content: '';
      content: none; } }
  
  table {
    border-collapse: collapse;
    border-spacing: 0; }
a {
  text-decoration: none;
  color: $primary-font-color;
  &:hover {
    color: #000;
    text-decoration: underline;
  }
}
button,input {
  font-family: 'Quicksand', sans-serif;
}
button {cursor: pointer;}
.btn {
  outline: none;
  background: none;
  border: none;
  &-open {
    font-size: 24px;
    color: #000;
  }
  &-close {
    font-size: 24px;
    color: #000;
    border: 2px solid #000;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
}
.img-fluid {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.line {
  height: 1px;
  background-color: #ddd;
  margin: 20px 0px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.text-center {
  text-align: center;
}