$primary-color: #f5f5f5;
$second-color: #000;
$third-color: #dcdcdc;
$primary-font-color: #464646;
$second-font-color: #ff0000;
$breakpoints-xlarge: 1399.98px;
$breakpoints-large: 1199.98px;
$breakpoints-medium: 991.98px;
$breakpoints-small: 767.98px;
$breakpoints-xsmall: 575.98px;